Problem Statement 

# Problems 0 -> Employee Salary more than 

We have a table with employees and their salaries. Write Queries to solve below problems
1. List all the meployees whoes salary is more than 100K
2. Provide distinct department id 
3. Provide first and last name of employees 
4. Provide all the details with the employees whose last name is 'Johnson'

We will solve problems two ways

First using PySpark function
Second using Spark SQL

In [1]:
# First Load all the required library and also Start Spark Session
# Load all the required library
from pyspark.sql import SparkSession

In [2]:
#Start Spark Session
spark = SparkSession.builder.appName("problem0").getOrCreate()
sqlContext = SparkSession(spark)
#Dont Show warning only error
spark.sparkContext.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/04 09:56:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/04 09:56:35 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
#Load CSV file into DataFrame
employeedf = spark.read.format("csv").option("header","true").option("inferSchema","true").load("employee_salay.csv")

In [5]:
#Checking dataframe schema
employeedf.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- department_id: integer (nullable = true)

In [6]:
#Check data in dataframe
employeedf.show()

+---+----------+---------+------+-------------+
| id|first_name|last_name|salary|department_id|
+---+----------+---------+------+-------------+
| 45|     Kevin|   Duncan| 45210|         1003|
| 25|    Pamela| Matthews| 57944|         1005|
| 48|    Robert|    Lynch|117960|         1004|
| 34|    Justin|     Dunn| 67992|         1003|
| 62|      Dale|    Hayes| 97662|         1005|
|  1|      Todd|   Wilson|110000|         1006|
| 61|      Ryan|    Brown|120000|         1003|
| 21|   Stephen|    Berry|123617|         1002|
| 13|     Julie|  Sanchez|210000|         1001|
| 55|   Michael|   Morris|106799|         1005|
| 44|    Trevor|   Carter| 38670|         1001|
| 73|   William|  Preston|155225|         1003|
| 39|     Linda|    Clark|186781|         1002|
| 10|      Sean| Crawford|190000|         1006|
| 30|   Stephen|    Smith|194791|         1001|
| 75|     Julia|    Ramos|105000|         1006|
| 59|     Kevin| Robinson|100924|         1005|
| 69|    Ernest| Peterson|115993|         1005|
| 65|   Deborah|   Martin| 67389|         1004|
| 63|   Richard|  Sanford|136083|         1001|
+---+----------+---------+------+-------------+
only showing top 20 rows

In [8]:
# First, we are solving all the problems using PySpark functions
#1. List all the meployees whoes salary is more than 100K
employeedf.filter("salary > 100000").show(n=100)

+---+----------+---------+------+-------------+
| id|first_name|last_name|salary|department_id|
+---+----------+---------+------+-------------+
| 48|    Robert|    Lynch|117960|         1004|
|  1|      Todd|   Wilson|110000|         1006|
| 61|      Ryan|    Brown|120000|         1003|
| 21|   Stephen|    Berry|123617|         1002|
| 13|     Julie|  Sanchez|210000|         1001|
| 55|   Michael|   Morris|106799|         1005|
| 73|   William|  Preston|155225|         1003|
| 39|     Linda|    Clark|186781|         1002|
| 10|      Sean| Crawford|190000|         1006|
| 30|   Stephen|    Smith|194791|         1001|
| 75|     Julia|    Ramos|105000|         1006|
| 59|     Kevin| Robinson|100924|         1005|
| 69|    Ernest| Peterson|115993|         1005|
| 63|   Richard|  Sanford|136083|         1001|
| 11|     Kevin| Townsend|166861|         1002|
| 16|    Briana|    Rivas|151668|         1005|
| 38|    Nicole|    Lewis|114079|         1001|
| 42|     Traci| Williams|180000|         1003|
| 26|   Allison|  Johnson|128782|         1001|
| 74|   Richard|     Cole|180361|         1003|
| 23|    Angela| Williams|100875|         1004|
| 64|  Danielle| Williams|120000|         1006|
|  9|   Christy| Mitchell|150000|         1001|
| 20|      Cody| Gonzalez|112809|         1004|
| 57|  Patricia|   Harmon|147417|         1005|
| 24|   William|   Flores|142674|         1003|
| 60|   Charles|  Pearson|173317|         1004|
| 12|    Joshua|  Johnson|123082|         1004|
| 40|   Colleen| Carrillo|147723|         1004|
| 70|     Karen|Fernandez|101238|         1003|
|  4|  Patricia|   Powell|170000|         1004|
| 22|  Brittany|    Scott|162537|         1002|
| 67|     Tyler|    Green|111085|         1002|
| 52|      Kara|    Smith|192838|         1004|
| 56|   Rachael| Williams|103585|         1002|
| 50|  Victoria|   Wilson|176620|         1002|
| 14|      John|  Coleman|152434|         1001|
| 72| Christine|     Frye|137244|         1004|
|  2|    Justin|    Simon|130000|         1005|
+---+----------+---------+------+-------------+

In [9]:
# Or , we can also use as below 
employeedf.where("salary > 100000").show(n=100)

+---+----------+---------+------+-------------+
| id|first_name|last_name|salary|department_id|
+---+----------+---------+------+-------------+
| 48|    Robert|    Lynch|117960|         1004|
|  1|      Todd|   Wilson|110000|         1006|
| 61|      Ryan|    Brown|120000|         1003|
| 21|   Stephen|    Berry|123617|         1002|
| 13|     Julie|  Sanchez|210000|         1001|
| 55|   Michael|   Morris|106799|         1005|
| 73|   William|  Preston|155225|         1003|
| 39|     Linda|    Clark|186781|         1002|
| 10|      Sean| Crawford|190000|         1006|
| 30|   Stephen|    Smith|194791|         1001|
| 75|     Julia|    Ramos|105000|         1006|
| 59|     Kevin| Robinson|100924|         1005|
| 69|    Ernest| Peterson|115993|         1005|
| 63|   Richard|  Sanford|136083|         1001|
| 11|     Kevin| Townsend|166861|         1002|
| 16|    Briana|    Rivas|151668|         1005|
| 38|    Nicole|    Lewis|114079|         1001|
| 42|     Traci| Williams|180000|         1003|
| 26|   Allison|  Johnson|128782|         1001|
| 74|   Richard|     Cole|180361|         1003|
| 23|    Angela| Williams|100875|         1004|
| 64|  Danielle| Williams|120000|         1006|
|  9|   Christy| Mitchell|150000|         1001|
| 20|      Cody| Gonzalez|112809|         1004|
| 57|  Patricia|   Harmon|147417|         1005|
| 24|   William|   Flores|142674|         1003|
| 60|   Charles|  Pearson|173317|         1004|
| 12|    Joshua|  Johnson|123082|         1004|
| 40|   Colleen| Carrillo|147723|         1004|
| 70|     Karen|Fernandez|101238|         1003|
|  4|  Patricia|   Powell|170000|         1004|
| 22|  Brittany|    Scott|162537|         1002|
| 67|     Tyler|    Green|111085|         1002|
| 52|      Kara|    Smith|192838|         1004|
| 56|   Rachael| Williams|103585|         1002|
| 50|  Victoria|   Wilson|176620|         1002|
| 14|      John|  Coleman|152434|         1001|
| 72| Christine|     Frye|137244|         1004|
|  2|    Justin|    Simon|130000|         1005|
+---+----------+---------+------+-------------+

In [11]:
# 2. Provide distinct department id 
employeedf.select("department_id").distinct().show()

+-------------+
|department_id|
+-------------+
|         1005|
|         1002|
|         1001|
|         1006|
|         1003|
|         1004|
+-------------+

In [14]:
# 3. Provide first and last name of employees 
employeedf.select("first_name","last_name").show(n=100)

+----------+---------+
|first_name|last_name|
+----------+---------+
|     Kevin|   Duncan|
|    Pamela| Matthews|
|    Robert|    Lynch|
|    Justin|     Dunn|
|      Dale|    Hayes|
|      Todd|   Wilson|
|      Ryan|    Brown|
|   Stephen|    Berry|
|     Julie|  Sanchez|
|   Michael|   Morris|
|    Trevor|   Carter|
|   William|  Preston|
|     Linda|    Clark|
|      Sean| Crawford|
|   Stephen|    Smith|
|     Julia|    Ramos|
|     Kevin| Robinson|
|    Ernest| Peterson|
|   Deborah|   Martin|
|   Richard|  Sanford|
|     Jason|    Olsen|
|     Kevin| Townsend|
|    Joseph|   Rogers|
|      Eric|Zimmerman|
|   Natasha|  Swanson|
|     Kelly|  Rosario|
|    Briana|    Rivas|
|    Nicole|    Lewis|
|     Traci| Williams|
|     Amber|  Harding|
|   Allison|  Johnson|
|   Richard|     Cole|
|    Angela| Williams|
|   Michael|   Ramsey|
|    Alexis|     Beck|
|  Danielle| Williams|
|   Theresa|  Everett|
|    Edward|    Sharp|
|     Jesus|     Ward|
|    Sherry|   Golden|
|   Christy| Mitchell|
|      John|     Ball|
|    Wesley|   Tucker|
|      Cody| Gonzalez|
|  Patricia|   Harmon|
|   William|   Flores|
|   Charles|  Pearson|
|     Jason|  Burnett|
|     Diane|   Gordon|
|   Anthony|   Valdez|
|      John|   George|
|  Kristine|    Casey|
|    Joshua|  Johnson|
|   Antonio|Carpenter|
|  Kimberly|     Dean|
|    Philip|Gillespie|
|  Kimberly|   Brooks|
|   Anthony|     Ball|
|   Colleen| Carrillo|
|     Karen|Fernandez|
|  Patricia|   Powell|
|  Brittany|    Scott|
|  Mercedes|Rodriguez|
|     Tyler|    Green|
|      Kara|    Smith|
|    Joshua|    Ewing|
|   Jeffrey|   Harris|
|   Rachael| Williams|
|  Victoria|   Wilson|
|      John|  Coleman|
| Christine|     Frye|
|    Justin|    Simon|
|    Teresa|    Cohen|
|    Dustin|     Bush|
|     Peter|     Holt|
+----------+---------+

In [15]:
# 4. Provide all the details with the employees whose last name is 'Johnson'
employeedf.filter("last_name == 'Johnson'").show()

+---+----------+---------+------+-------------+
| id|first_name|last_name|salary|department_id|
+---+----------+---------+------+-------------+
| 26|   Allison|  Johnson|128782|         1001|
| 12|    Joshua|  Johnson|123082|         1004|
+---+----------+---------+------+-------------+

In [17]:
#Now, we will solve all the problems using Spark SQL 
#For that first we will create Hive / Temp tables in Spark 
employeedf.createOrReplaceTempView("tmpEmployee")
sqlContext.sql("SELECT * FROM tmpEmployee").show()

+---+----------+---------+------+-------------+
| id|first_name|last_name|salary|department_id|
+---+----------+---------+------+-------------+
| 45|     Kevin|   Duncan| 45210|         1003|
| 25|    Pamela| Matthews| 57944|         1005|
| 48|    Robert|    Lynch|117960|         1004|
| 34|    Justin|     Dunn| 67992|         1003|
| 62|      Dale|    Hayes| 97662|         1005|
|  1|      Todd|   Wilson|110000|         1006|
| 61|      Ryan|    Brown|120000|         1003|
| 21|   Stephen|    Berry|123617|         1002|
| 13|     Julie|  Sanchez|210000|         1001|
| 55|   Michael|   Morris|106799|         1005|
| 44|    Trevor|   Carter| 38670|         1001|
| 73|   William|  Preston|155225|         1003|
| 39|     Linda|    Clark|186781|         1002|
| 10|      Sean| Crawford|190000|         1006|
| 30|   Stephen|    Smith|194791|         1001|
| 75|     Julia|    Ramos|105000|         1006|
| 59|     Kevin| Robinson|100924|         1005|
| 69|    Ernest| Peterson|115993|         1005|
| 65|   Deborah|   Martin| 67389|         1004|
| 63|   Richard|  Sanford|136083|         1001|
+---+----------+---------+------+-------------+
only showing top 20 rows

In [18]:
#1. List all the meployees whoes salary is more than 100K
sqlContext.sql("SELECT * FROM tmpEmployee where salary > 100000").show(n=100)

+---+----------+---------+------+-------------+
| id|first_name|last_name|salary|department_id|
+---+----------+---------+------+-------------+
| 48|    Robert|    Lynch|117960|         1004|
|  1|      Todd|   Wilson|110000|         1006|
| 61|      Ryan|    Brown|120000|         1003|
| 21|   Stephen|    Berry|123617|         1002|
| 13|     Julie|  Sanchez|210000|         1001|
| 55|   Michael|   Morris|106799|         1005|
| 73|   William|  Preston|155225|         1003|
| 39|     Linda|    Clark|186781|         1002|
| 10|      Sean| Crawford|190000|         1006|
| 30|   Stephen|    Smith|194791|         1001|
| 75|     Julia|    Ramos|105000|         1006|
| 59|     Kevin| Robinson|100924|         1005|
| 69|    Ernest| Peterson|115993|         1005|
| 63|   Richard|  Sanford|136083|         1001|
| 11|     Kevin| Townsend|166861|         1002|
| 16|    Briana|    Rivas|151668|         1005|
| 38|    Nicole|    Lewis|114079|         1001|
| 42|     Traci| Williams|180000|         1003|
| 26|   Allison|  Johnson|128782|         1001|
| 74|   Richard|     Cole|180361|         1003|
| 23|    Angela| Williams|100875|         1004|
| 64|  Danielle| Williams|120000|         1006|
|  9|   Christy| Mitchell|150000|         1001|
| 20|      Cody| Gonzalez|112809|         1004|
| 57|  Patricia|   Harmon|147417|         1005|
| 24|   William|   Flores|142674|         1003|
| 60|   Charles|  Pearson|173317|         1004|
| 12|    Joshua|  Johnson|123082|         1004|
| 40|   Colleen| Carrillo|147723|         1004|
| 70|     Karen|Fernandez|101238|         1003|
|  4|  Patricia|   Powell|170000|         1004|
| 22|  Brittany|    Scott|162537|         1002|
| 67|     Tyler|    Green|111085|         1002|
| 52|      Kara|    Smith|192838|         1004|
| 56|   Rachael| Williams|103585|         1002|
| 50|  Victoria|   Wilson|176620|         1002|
| 14|      John|  Coleman|152434|         1001|
| 72| Christine|     Frye|137244|         1004|
|  2|    Justin|    Simon|130000|         1005|
+---+----------+---------+------+-------------+

In [20]:
#2. Provide distinct department id 
sqlContext.sql("SELECT DISTINCT department_id FROM tmpEmployee").show(n=100)

+-------------+
|department_id|
+-------------+
|         1005|
|         1002|
|         1001|
|         1006|
|         1003|
|         1004|
+-------------+

In [21]:
#3. Provide first and last name of employees
sqlContext.sql("SELECT first_name, last_name FROM tmpEmployee").show(n=100)

+----------+---------+
|first_name|last_name|
+----------+---------+
|     Kevin|   Duncan|
|    Pamela| Matthews|
|    Robert|    Lynch|
|    Justin|     Dunn|
|      Dale|    Hayes|
|      Todd|   Wilson|
|      Ryan|    Brown|
|   Stephen|    Berry|
|     Julie|  Sanchez|
|   Michael|   Morris|
|    Trevor|   Carter|
|   William|  Preston|
|     Linda|    Clark|
|      Sean| Crawford|
|   Stephen|    Smith|
|     Julia|    Ramos|
|     Kevin| Robinson|
|    Ernest| Peterson|
|   Deborah|   Martin|
|   Richard|  Sanford|
|     Jason|    Olsen|
|     Kevin| Townsend|
|    Joseph|   Rogers|
|      Eric|Zimmerman|
|   Natasha|  Swanson|
|     Kelly|  Rosario|
|    Briana|    Rivas|
|    Nicole|    Lewis|
|     Traci| Williams|
|     Amber|  Harding|
|   Allison|  Johnson|
|   Richard|     Cole|
|    Angela| Williams|
|   Michael|   Ramsey|
|    Alexis|     Beck|
|  Danielle| Williams|
|   Theresa|  Everett|
|    Edward|    Sharp|
|     Jesus|     Ward|
|    Sherry|   Golden|
|   Christy| Mitchell|
|      John|     Ball|
|    Wesley|   Tucker|
|      Cody| Gonzalez|
|  Patricia|   Harmon|
|   William|   Flores|
|   Charles|  Pearson|
|     Jason|  Burnett|
|     Diane|   Gordon|
|   Anthony|   Valdez|
|      John|   George|
|  Kristine|    Casey|
|    Joshua|  Johnson|
|   Antonio|Carpenter|
|  Kimberly|     Dean|
|    Philip|Gillespie|
|  Kimberly|   Brooks|
|   Anthony|     Ball|
|   Colleen| Carrillo|
|     Karen|Fernandez|
|  Patricia|   Powell|
|  Brittany|    Scott|
|  Mercedes|Rodriguez|
|     Tyler|    Green|
|      Kara|    Smith|
|    Joshua|    Ewing|
|   Jeffrey|   Harris|
|   Rachael| Williams|
|  Victoria|   Wilson|
|      John|  Coleman|
| Christine|     Frye|
|    Justin|    Simon|
|    Teresa|    Cohen|
|    Dustin|     Bush|
|     Peter|     Holt|
+----------+---------+

In [22]:
#4. Provide all the details with the employees whose last name is 'Johnson'
sqlContext.sql("SELECT * FROM tmpEmployee where last_name = 'Johnson'").show(n=100)

+---+----------+---------+------+-------------+
| id|first_name|last_name|salary|department_id|
+---+----------+---------+------+-------------+
| 26|   Allison|  Johnson|128782|         1001|
| 12|    Joshua|  Johnson|123082|         1004|
+---+----------+---------+------+-------------+