Here, we will solve problems two ways
1. First using PySpark function 
2. Second using Spark SQL

In [1]:
# First Load all the required library and also Start Spark Session
# Load all the required library
from pyspark.sql import SparkSession

In [2]:
#Start Spark Session
spark = SparkSession.builder.appName("problem6").getOrCreate()
sqlContext = SparkSession(spark)
#Dont Show warning only error
spark.sparkContext.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/14 14:24:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
#Load CSV file into DataFrame
studentdf = spark.read.format("csv").option("header","true").option("inferSchema","true").load("students.csv")

In [5]:
#Check Schema of DataFrame
studentdf.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Marks: integer (nullable = true)

In [6]:
#Check sample Data 
studentdf.show()

+---+---------+-----+
| ID|     Name|Marks|
+---+---------+-----+
| 19| Samantha|   87|
| 21|    Julia|   96|
| 11|  Britney|   95|
| 32| Kristeen|  100|
| 12|    Dyana|   55|
| 13|    Jenny|   66|
| 14|Christene|   88|
| 15|    Meera|   24|
| 16|    Priya|   76|
| 17| Priyanka|   77|
| 18|    Paige|   74|
| 19|     Jane|   64|
| 21|   Belvet|   78|
| 31|  Scarlet|   80|
| 41|    Salma|   81|
| 51|   Amanda|   34|
| 61|  Heraldo|   94|
| 71|   Stuart|   99|
| 81|   Aamina|   77|
| 76|    Amina|   89|
+---+---------+-----+
only showing top 20 rows

In [14]:
#Solving Problem using PySpark 
#Filter with Markes > 75 and then order by last 3 char and ID
from pyspark.sql.functions import expr
studentdf.select("Name").where("Marks > 75").orderBy(expr("RIGHT(Name,3)"),"ID").show(n=100)

+---------+
|     Name|
+---------+
|   Stuart|
| Kristeen|
|Christene|
|    Amina|
|   Aamina|
|    Priya|
|  Heraldo|
|  Scarlet|
|    Julia|
|    Salma|
|  Britney|
| Priyanka|
| Samantha|
|    Vivek|
|   Belvet|
|    Devil|
|     Evil|
+---------+

In [13]:
# Now we are solving Same problem using Spark SQL 
# Creating Temp Table or HIVE table
stationdf.createOrReplaceTempView("tmpStudent")

In [15]:
# Now we have SQL Table and we can write SQL Query on top of that 
# For example by Select on table 
sqlContext.sql("SELECT Name \
                    FROM tmpStudent \
                    WHERE Marks > 75 \
                    ORDER BY right(Name,3),ID").show()

+---------+
|     Name|
+---------+
|   Stuart|
| Kristeen|
|Christene|
|    Amina|
|   Aamina|
|    Priya|
|  Heraldo|
|  Scarlet|
|    Julia|
|    Salma|
|  Britney|
| Priyanka|
| Samantha|
|    Vivek|
|   Belvet|
|    Devil|
|     Evil|
+---------+